@import "~/styles/variables";
@import "~/styles/colors";

.blackBox {
  aspect-ratio: 1 / 1;
  width: 100%;
  background-color: var(--color-bg-inv-100);
  border-radius: 20px;
  @include media-breakpoint-down(lg) {
    aspect-ratio: 1 / 0.25;
  }
}

.quote {
  font-size: 40px;
  line-height: 1;
  font-weight: 800;
  padding: 4rem 2rem 0;
  position: relative;

  &::before {
    content: '"';
    font-size: 100px;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.quoteAuthor {
  padding-left: 2rem;
}

.introText {
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 500;
}

