$color-text-body: #242628;
$color-text-secondary: #4d5156;
$color-text-placeholder: #888d93;
$color-text-body-inv: #fff;
$color-text-emphasis: #ea7871;

$color-line-base: #c8cdd3;

$color-bg-base-100: #fff;
$color-bg-control-100: #f1f3f5;
$color-bg-primary-100: #18a0fb;
$color-bg-primary-200: #1495f8;

:root {
  // Text color
  --color-text-body: #242628;
  --color-text-secondary: #4d5156;
  --color-text-placeholder: #888d93;
  --color-text-body-inv: #fff;
  --color-text-emphasis: #ea7871;

  // Line Color
  --color-line-base: #c8cdd3;
  --color-line-emphasis: #ea7871;
  --color-line-inv: #242628;

  // Bg color
  --color-bg-base-100: #fff;
  --color-bg-control-100: #f1f3f5;
  --color-bg-control-200: #e1e3e5;
  --color-bg-primary-100: #18a0fb;
  --color-bg-primary-200: #1495f8;
  --color-bg-primary-200: #1495f8;
  --color-bg-emp-100: #f35252;
  --color-bg-inv-100: #242628;
}

.text-secondary {
  color: var(--color-text-secondary);
}
