:root {
  // Text color
  --color-text-body: #242628;
  --color-text-secondary: #4d5156;
  --color-text-placeholder: #888d93;
  --color-text-body-inv: #fff;
  --color-text-emphasis: #ea7871;

  // Line Color
  --color-line-base-050: #E6E9EC;
  --color-line-base: #c8cdd3;
  --color-line-emphasis: #ea7871;

  // Bg color
  --color-bg-base-100: #fff;

  --color-bg-control-100: #E9EFF6;
  --color-bg-control-200: #DEE7F2;
  --color-bg-control-300: #D3E1F1;

  --color-bg-neutral-100: #AEBFCF;
  --color-bg-neutral-200: #9EB7CE;
  --color-bg-neutral-300: #8CA9C4;

  --color-bg-primary-100: #18a0fb;
  --color-bg-primary-200: #1495f8;

  --color-bg-emp-100: #f35252;

  --color-bg-inv-100: #313942;
  --color-bg-inv-200: #2A3642;
  --color-bg-inv-300: #233241;
}

.text-secondary {
  color: var(--color-text-secondary);
}
