
.random {
  color: var(--color-text-body-inv);
  animation: 4s infinite alternate glitching;
  background: var(--color-bg-inv-100);
  position: relative;
}

@keyframes glitching {
  0% {
    opacity: 0.1
  }
  1% {
    opacity: 0.3
  }
  2% {
    opacity: 0.2
  }
  3% {
    opacity: 0.5
  }
  4% {
    opacity: 0.6
  }
  
  10% {
    opacity: 0.5
  }
  11% {
    opacity: 0.1
  }
  12% {
    opacity: 0.5
  }

  14% {
    opacity: 1
  }
  15% {
    opacity: 0.3
  }
  16% {
    opacity: 1
  }
  
  58% {
    opacity: 1
  }
  59% {
    opacity: 0.3
  }
  60% {
    opacity: 1
  }

  100% {
    opacity: 1
  }
}

.base-image-wrapper {
  border-radius: 12px;
  margin: -4px;
  margin-bottom: 0.5rem;
}

.base-image {
  width: 100%;
  border-radius: 12px;
}

.image-label {
  display: flex;
  padding: 6px 0;
  align-items: center;
}

.image-title {
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 600;
}

.image-chip {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: 600;
  line-height: 1rem;
  padding: 2px 4px;
  border-radius: 4px;
  background: #aaa;
  color: white;
  margin-left: 4px;
}