:root {
  --border-radius-control-panel: 16px;
  --border-radius-control-base: 6px;
  --border-radius-control-sm: 4px;

  --padding-control-base: 5px;
  --padding-control-sm: 2px;

  --z-index-drawer: 1020;
}
