h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-base);
  font-weight: 700;
}

h6 {
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1px;
}

a, a:link, a:visited {
  text-decoration: none;
  transition: $transition-base;
  &:hover {
    text-decoration: underline;
  }
}

body {
  font-family: var(--font-family-base);
}

:root {
  --font-family-base: "Archivo", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-mono: "JetBrains Mono", monospace;
  --font-family-mobile: "League Gothic", sans-serif;
}