:root {
  --font-family-base: "Onest", "Archivo", system-ui, -apple-system, "Segoe UI", Roboto,
  "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-mono: "Lekton", monospace;
  --font-family-mobile: "League Gothic", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-base), sans-serif;
  font-weight: 700;
}

h2 {
  font-size: 4rem;
  line-height: 1;
}

h6 {
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.mono {
  font-family: var(--font-family-mono), monospace;
}

a,
a:visited,
a:link {
  color: var(--color-text-placeholder);
  &.active {
    color: var(--color-text-emphasis);
  }
  &:hover {
    text-decoration: none !important;
  }
}


.text-muted {
  color: var(--color-text-secondary);
}
