@import "~/styles/variables";
@import "~/styles/colors";

.masonry {
  column-count: 3;
  column-gap: .5rem;
  @include media-breakpoint-down(lg) {
    column-count: 2;
    column-gap: .5rem;
  }
  @include media-breakpoint-down(md) {
    column-count: 1;
  }

}

.masonry .image {
  width: 100%;
  margin-bottom: .5rem;
  break-inside: avoid;
  @include media-breakpoint-down(lg) {
    margin-bottom: 0.125rem;
  }
}
