.CallMe {
  padding-top: 20vh;
  padding-bottom: 20vh;

  .callMeTitile {
    
    margin-bottom: 2rem;
    font-size: 120px;
    font-weight: 600;
  }

  .callMeText {
    font-size: 1.5rem;
    line-height: 1.8;
    padding: 0;
    margin: 0;
  }
}