@import "./styles/bootstrap.scss";
@import "./styles/typography.scss";
@import "./styles/global.scss";

body {
  color: var(--color-text-body);
  position: relative;
  background: linear-gradient(45deg, #EEF2F8, #F2F8FF);
  font-family: var(--font-family-base), sans-serif;
}
